* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: auto;
}

body{
    font-family: 'Roboto', sans-serif;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: calc( 100% / 3);
}

.pic-1, .pic-2, .pic-3{
    width: 100%;
    margin-top: 20px;
    padding-right: 10px;
    display: block;
}

.product {
    position: relative;
}

.sales {
    background-color: red;
    position: absolute;
    color: white;
    display: inline-block;
    left: 0;
    bottom: 15px;
    
}

.sos{
    background-color: green;
    position: absolute;
    color: white;
    display: inline-block;
    margin-left: 0;
    left: 35px;
    bottom: 15px;
}

.heart{
    background-color: white;
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 10px;
    padding: 5px 10px;
}

.tex-1{
    width: 100%;
}

.price{
    color: red;
    font-size: smaller;
}

.price-2{
    font-size: smaller;
    
}