* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: calc( 100% / 3);
}

.pic-1, .pic-2, .pic-3{
    width: 100%;
    margin-top: 20px;
    padding: 5px;
    display: block;
}

.product {
    position: relative;
}

.sales {
    background-color: red;
    position: absolute;
    color: white;
    display: inline-block;
    right: 0;
    top: 0;
    
}

.sos{
    background-color: green;
    position: absolute;
    color: white;
    display: inline-block;
    margin-left: 5px;
    
}